
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<br />
<div class="container">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="row">
                <input type="text" id="ID" style="display:none" />

                <label class="control-label col-lg-2">Exam_id</label>
                <input type="text" id="Exam_id" class="form-control col-lg-2" />
                <label class="control-label col-lg-2">Start_time</label>
                <input type="time" id="Start_time" class="form-control col-lg-2" />
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <br />
                <input type="button" value="Add" id="btn_Add" class="btn btn-primary" />
                <input type="button" value="Update" id="btn_Update" class="btn btn-success" />
            </div>
        </div>
    </div>
</div>

<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Exam_id</th>
        <th>Start_time</th>
        <th>Actions</th>
    </tr>
    <tbody id="body"></tbody>
</table>

<script src="~/scripts/jquery-1.10.2.min.js"></script>

<script>
    var formData;
    function GetData() {
        $('#body').empty();
        $.ajax({
            url: '/ExamsDateSheetNames/GetData',
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (result) {
                var rows = '';
                $.each(result, function (key, value) {
                    rows = '<tr>'
                         + '<td>' + value.ID + '</td>'
                          + '<td>' + value.Exam_id + '</td>'
                        + '<td>' + value.Start_time + '</td>'
                        + '<td><input type="button" class="btn btn-primary edit" value="Edit"> <input type="button" class="btn btn-danger delete" value="Delete"></td>'
                    '</tr>'
                    $('#body').append(rows);
                })
            },
            error: function (result) {
            }
        })
    }
    $(document).delegate('.edit', '.click', function () {
        debugger
        var rowValue = $(this).closest('tr');
        var ID = rowValue.find("td:eq(0)").text();
        var Exam_id = rowValue.find("td:eq(1)").text();
        var Start_time = rowValue.find("td:eq(2)").text();

        $('#ID').val(ID);
        $('#Exam_id').val(Exam_id);
        $('#Start_time').val(Start_time);
    })
        $('#btn_Add').click(function () {
            Add(formData);
        })
        function Add() {
            debugger
            var data = {};
            data.Exam_id = $('#Exam_id').val();
            data.Start_time = $('#Start_time').val();
            $.ajax({
                url: "/ExamsDateSheetNames/Insert",
                data: JSON.stringify(data),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function () {
                    alert(" Success");
                    GetData();
                },
                error: function () {
                    alert("Failed");
                }
            })
        }
</script>

